<div class="row mt-3">
    <div class="row">
        <h3>__TITLE__</h3>
    </div>
    <div class="row">
        <!-- <div class="col gx-2 gy-3 justify-content-center">
            <a href="detail.php?id=<?= $pengurus['pengurus_id'] ?>">
                <div class="card pt-4 px-2 pengurus-thumbnail">
                    <div class="row justify-content-center">
                        <img src="../assets/images/logo.png" class="card-img-top" alt="default.jpg">
                    </div>
                    <div class="card-body">
                        <p class="card-text pengurus-nama my-0">Nama Pengurus</p>
                        <p class="card-text divisi-nama">Divisi</p>
                        <p class="card-text jabatan-nama my-0">Jabatan</p>
                    </div>
                </div>
            </a>
        </div> -->
        __CARDS__
    </div>
</div>